<aside class="drawer">
    <header>
        <button {{action 'toggleDrawer'}} class="drawer-toggle-button icon-button">
            {{icons/icon-close _size=24}}
        </button>
    </header>
    {{#link-to 'profile' me.model.id}} {{icon-image data=me.model _size=48}}

    <h3>
        {{me.model.username}}
    </h3>

    {{/link-to}}
    <nav>
        <ul class="menu">
            <li class="leaf">
                {{link-to (t 'links.home') 'index'}}
            </li>
            {{!--
            <li class="leaf">
                {{link-to (t 'navigation.create_product') 'create-product'}}
            </li>
            <li class="leaf">
                {{link-to (t 'navigation.orders') 'orders'}}
            </li>
            --}}
        </ul>
        <button {{action 'signOut'}}>{{t 'buttons.signout'}}</button>
    </nav>
</aside>

<div class="drawer__overlay" {{action 'toggleDrawer'}}></div>

<main class="main-content">
    {{yield (hash toggleDrawer=(action 'toggleDrawer'))}}
</main>